# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Testing & build caches
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/

# PyInstaller artifacts
*.spec

# OS-specific hidden files
.DS_Store
Thumbs.db
